<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title inertia>T29</title>

  <meta property="og:type" content="website">
  
  <link rel="icon" href="{{ asset('resources/assets/T29.png') }}" type="image/png">

  @viteReactRefresh()
  @inertiaHead()  
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])

  <script defer src="http://umami-yws8ock4ww848s4wo04ockgg.188.245.240.223.sslip.io/script.js" data-website-id="56a6c90a-e81b-4309-aef5-54663fb071cf"></script>
</head>

<body>
  @inertia()
</body>

</html>