<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title inertia>T29</title>

  <meta property="og:type" content="website">
  
  <link rel="shortcut icon" href="{{ asset('resources/assets/favicon.ico') }}" type="image/x-icon"></link>

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])

  <script defer data-domain="188.245.240.223.sslip.io" src="https://plausible.188.245.240.223.sslip.io/js/script.js"></script>
</head>

<body>
  @inertia()
</body>

</html>